/*
    This file is to show how CSS and other static resources (such as images) can be
    used from a library project/package.
*/

.blazorvideoplayer
{
    z-index: 5 !important;
    width: 420px;
}
.controlcontainer
{
    background-image: url('images/bluesteelbackground2.png');
    background-color: transparent;
    background-size: 100% 100%;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    width: 100%;
    height: 6.8vh;
    position: relative;
    top: .4vh;
    margin-top: -2vh;
}
.fullscreen
{
    float: right;
    background-image: url('images/fullscreen2.png');
    background-color: transparent;
    background-size: 100% 100%;
    border: none;
    outline: none;
    width: 8%;
    height: 5vh;
    position: relative;
    right: 4%;
    top: 1.2vh;
    z-index: 20 !important;
}
.pausebutton
{
    background-image: url('images/pause.png');
    background-color: transparent;
    background-size: 100% 100%;
    border: none;
    outline: none;
    width: 8%;
    height: 5vh;
    position: relative;
    left: 4%;
    top: 1.2vh;
    z-index: 20 !important;
    float: left;
}
.pausebutton:focus
{
    outline: none;
}
.playbutton
{
    background-image: url('images/play.png');
    background-color: transparent;
    background-size: 100% 100%;
    border: none;
    outline: none;
    width: 8%;
    height: 5vh;
    position: relative;
    left: 4%;
    top: 1.2vh;
    z-index: 20 !important;
    float: left;
}
.playbutton:focus
{
    outline: none;
}
.timedisplay
{
    font-family: Arial, Verdana;
    font-size: .8em;
    color: rgb(111, 201, 241);
    position: relative;
    left: 6%;
    top: 2.12vh;
    text-align: right;
    float: left;
}
.videocomponent
{
    width: 100%;
}
.videoduration
{
    display: inline;
    font-family: Arial, Verdana;
    font-size: .8em;
    color: rgb(111, 201, 241);
    position: relative;
    left: 6%;
    top: 2.12vh;
    text-align: right;
    float: left;
}

